body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
h1, h3, h4 {
  margin: 0;
  color: #FDFCF4;
}
ul {
  padding: 0;
  list-style-type: none;
}
p {
  margin: 0;
}


/*HEADER STYLES*/

header {
  background-color: #FFFFFF;
  height: 20%;
}
.header-content-top {
  display: flex;
  justify-content: flex-end;
  height: 30%;
  padding: 0 65px;
}
.username-header-list {
  display: flex;
  align-items: center;
}
.username-header-list img {
  height: 60px;
  width: 60px;
}
.username {
  margin-left: 5px;
  color: #7f7f7f;
  font-size: 1.2em;
}
.username:hover {
  color: rgba(249,207,48, 1);
}
.username-header-list .down-arrow {
  height: 18px;
  width: 18px;
  margin-left: 5px;
}
.header-content-btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70%;
  margin: 10px 0 30px 0;
  padding: 0 50px 0 37px;
}
nav {
  width: 70%;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
}
.nav-links li {
  display: flex;
  align-items: center;
  margin-right: 80px;
}
.nav-links img {
  height: 70px;
  width: 70px;
}
.nav-links a {
  color: #7f7f7f;
  font-size: 1.5em;
  text-decoration: none;
}
a:hover {
  color: rgba(249,207,48, 1);
}
h1 {
  margin: 0;
  color: rgba(0, 53, 178, 1);
  filter: drop-shadow(2px 2px 1px rgba(249,207,48,0.9));
  font-size: 3.5em;
  z-index: 9999;
}
.h1-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h1-icon img {
  margin-left: 5px;
  height: 90px;
  width: 90px;
}

/*ARTICLE BACKGROUNDS*/

.ssbro-1 .article-header {
  background-image: url('assets/option2/39457-mario_super_smash_bros_wallpaper.jpg');
}
.ssbro-2 .article-header {
  background-image: url('assets/option2/39458-luigi_super_smash_bros_wallpaper.jpg');
}
.ssbro-3 .article-header {
  background-image: url('assets/option2/39462-donkey_kong_super_smash_bros_wallpaper.jpg');
}
.ssbro-4 .article-header {
  background-image: url('assets/option2/39463-link_super_smash_bros_wallpaper.jpg');
}
.ssbro-5 .article-header {
  background-image: url('assets/option2/39482-pikachu_super_smash_bros_wallpaper.jpg');
}
.ssbro-6 .article-header {
  background-image: url('assets/option2/39483-samus_super_smash_bros_wallpaper.jpg');
}
.ssbro-7 .article-header {
  background-image: url('assets/option2/39485-fox_super_smash_bros_wallpaper.jpg');
}
.ssbro-8 .article-header {
  background-image: url('assets/option2/39488-kirby_super_smash_bros_wallpaper.jpg');
}
/*MAIN STYLES*/

main {
  display: flex;
  flex-direction: column;
  background-color: #ABC8D2;
  padding: 40px;
}
h2 {
  margin: 0;
  margin-bottom: 40px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 3.5em;
}
section {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
}
article {
  height: 50%;
  width: 23.5%;
  margin: 0 27px 27px 0;
  background-color: #7f7f7f;
  box-shadow: -1px -1px 6px 2px rgba(0,0,0,0.4) inset;
}
.article-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 170px;
  padding: 10px 15px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  box-shadow: -1px -1px 8px 2px rgba(0,0,0,0.4) inset;
}
.article-header:hover {
  filter: drop-shadow(2px 2px 1px rgba(0,0,0,0.9));
}
.button-view-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
button {
  height: 90px;
  width: 90px;
  background: none;
  background-image: url('assets/option2/redo-arrow.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 80% 80%;
  border: none;
  border-radius: 50%;
}
button:hover {
  background-color: rgba(249,207,48, 1);
  opacity: 0.8;
}
.view-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 15px;
  color: rgb(0, 53, 178);
}
.view {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}
.view-num {
  font-size: 3.5em;
}
.article-main-content {
  padding: 20px 20px 10px 20px;
}
.article-main-content div {
  margin-bottom: 20px;
}
.name-date {
  margin-bottom: 20px;
}
h3 {
  margin-top: 0;
  padding-bottom: 3px;
  font-size: 2em;
  font-weight: 300;
}
.date {
  font-size: 1.1em;
  font-weight: 300;
}
.ssbro-link {
  padding: 2px 10px 10px 10px;
  font-size: 1.1em;
  background-color: rgba(230, 234, 237, 0.4);
}
article a {
  color: #FFFFFF;
  text-decoration: none;
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.5;
}
h4 {
  padding-bottom: 3px;
  font-size: 1.1em;
  font-weight: 300;
  letter-spacing: 0.7px;
}
.playlist-name {
  font-size: 1.7em;
  font-weight: 300;
  letter-spacing: 0.7px;
  word-spacing: 0.7px;
}
.attachment-number {
  font-size: 3.5em;
  font-weight: 300;
}

.hide1, .hide2, .hide3 {
  /*display: none;*/
}

@media screen and (max-width: 1900px) {
  article {
    width: 23%;
  }
}

@media screen and (max-width: 1600px) {
  article {
    width: 22.5%;
    flex-grow: 2;
  }
}

@media screen and (max-width: 1450px) {
  .username-header-list img {
    height: 55px;
    width: 55px;
  }
  .username {
    font-size: 1.1em;
  }
  .username-header-list .down-arrow {
    height: 15px;
    width: 15px;
  }
  .nav-links li {
    margin-right: 70px;
  }
  .nav-links img {
    height: 65px;
    width: 65px;
  }
  .nav-links a {
    font-size: 1.3em;
  }
  h1 {
    font-size: 3.4em;
  }
  .h1-icon img {
    height: 85px;
    width: 85px;
  }
  h2 {
    font-size: 3.0em;
  }
  article {
    width: 23.5%;
    flex-grow: 1;
  }
  button {
    height: 80px;
    width: 80px;
  }
  .view-container {
    margin-left: 10px;
  }
  .view {
    font-size: 1em;
  }
  .view-num {
    font-size: 3.3em;
  }
}

@media screen and (max-width: 1200px) {
  .username-header-list img {
    height: 45px;
    width: 45px;
  }
  .username {
    font-size: 1.0em;
  }
  .username-header-list .down-arrow {
    height: 12px;
    width: 12px;
  }
  .nav-links li {
    margin-right: 60px;
  }
  .nav-links img {
    height: 55px;
    width: 55px;
  }
  .nav-links a {
    font-size: 1.0em;
  }
  h1 {
    font-size: 2.8em;
  }
  .h1-icon img {
    height: 70px;
    width: 70px;
  }
  h2 {
    font-size: 2.5em;
  }
  button {
    height: 70px;
    width: 70px;
  }
  .view-container {
    margin-left: 5px;
  }
  .view {
    font-size: 1em;
  }
  .view-num {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 975px) {
  .username-header-list img {
    height: 35px;
    width: 35px;
  }
  .username {
    font-size: 0.8em;
  }
  .username-header-list .down-arrow {
    height: 10px;
    width: 10px;
  }
  .nav-links li {
    margin-right: 30px;
  }
  .nav-links img {
    height: 40px;
    width: 40px;
  }
  .nav-links a {
    font-size: 0.9em;
  }
  h1 {
    font-size: 2.5em;
  }
  .h1-icon img {
    height: 60px;
    width: 60px;
  }
  h2 {
    font-size: 2.2em;
  }
  article {
    width: 45%;
  }
  .view {
    font-size: 0.9em;
  }
  .view-num {
    font-size: 3.0em;
  }
  h3 {
    font-size: 1.8em;
  }
  .date {
    font-size: 0.9em;
  }
  .ssbro-link {
    font-size: 0.9em;
  }
  h4 {
    font-size: 0.9em;
  }
  .playlist-name {
    font-size: 1.5em;
  }
  .attachment-number {
    font-size: 3.2em;
  }
}

@media screen and (max-width: 785px) {
  .username-header-list img {
    height: 25px;
    width: 25px;
  }
  .username {
    font-size: 0.7em;
  }
  .nav-links li {
    margin-right: 30px;
  }
  .nav-links img {
    height: 35px;
    width: 35px;
  }
  .nav-links a {
    font-size: 0.9em;
  }
  h1 {
    font-size: 2.0em;
  }
  .h1-icon img {
    height: 45px;
    width: 45px;
  }
  h2 {
    font-size: 1.7em;
  }
  article {
    width: 45%;
  }
  button {
    height: 60px;
    width: 60px;
  }
  .view {
    font-size: 0.8em;
  }
  .view-num {
    font-size: 2.8em;
  }
  h3 {
    font-size: 1.6em;
  }
  .date {
    font-size: 0.8em;
  }
  .ssbro-link {
    font-size: 0.8em;
  }
  h4 {
    font-size: 0.8em;
  }
  .playlist-name {
    font-size: 1.3em;
  }
  .attachment-number {
    font-size: 2.5em;
  }
}

@media screen and (max-width: 720px) {
  header {
    display: flex;
    flex-direction: row-reverse;
  }
  .header-content-top {
    margin-right: 10px;
    padding: 0;
  }
  .header-content-btm {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    padding-right: 0;
  }
  nav {
    width: 100%;
  }
  h1 {
    margin-bottom: 20px;
  }
  .h1-icon img {
    margin-bottom: 20px;
  }
  main {
    padding: 30px;
  }
  .nav-links li {
    margin-right: 25px;
  }
  .nav-links img {
    height: 30px;
    width: 30px;
  }
  .nav-links a {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 625px) {
  header {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: 10px;
  }
  .header-content-btm {
    justify-content: center;
    margin-bottom: 0;
  }
  .nav-links {
    justify-content: center;
  }
  .header-content-top {
    margin-bottom: 20px;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
  }
  .h1-icon img {
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
  }
  .nav-links li {
    margin-right: 25px;
  }
  .nav-links img {
    height: 40px;
    width: 40px;
  }
  .nav-links a {
    font-size: 1em;
  }
  .username-header-list img {
    height: 35px;
    width: 35px;
  }
  .username {
    font-size: 0.9em;
  }
  main {
    display: flex;
    flex-direction: column;
  }
  h2 {
    text-align: center;
  }
  section {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
  }
  article {
    width: 80%;
  }
  button {
    height: 70px;
    width: 70px;
  }
  .view {
    font-size: 1em;
  }
  h3 {
    font-size: 1.9em;
  }
  .date {
    font-size: 0.9em;
  }
  .ssbro-link {
    font-size: 0.9em;
  }
  h4 {
    font-size: 0.9em;
  }
  .playlist-name {
    font-size: 1.4em;
  }
  .attachment-number {
    font-size: 2.6em;
  }
}

@media screen and (max-width: 525px) {
  .header-content-btm {
    margin-bottom: 10px;
    padding-left: 15px;
  }
  h1 {
    font-size: 2.8em;
  }
  .h1-icon img {
    height: 65px;
    width: 65px;
  }
  .nav-links img {
    height: 33px;
    width: 33px;
  }
  .nav-links a {
    font-size: 0.7em;
  }
  .username-header-list img {
    height: 30px;
    width: 30px;
  }
  .username {
    font-size: 0.7em;
  }
  article {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .full-header-link:nth-of-type(3) {
    text-align: center;
  }
  button {
    height: 60px;
    width: 60px;
  }
  .view {
    font-size: 0.9em;
  }
  h3 {
    font-size: 1.7em;
  }
  .date {
    font-size: 0.8em;
  }
  .ssbro-link {
    font-size: 0.8em;
  }
  h4 {
    font-size: 0.8em;
  }
  .playlist-name {
    font-size: 1.2em;
  }
  .attachment-number {
    font-size: 2.4em;
  }
}
